<div class="login-container">
    <div class="login-form">
        <form [formGroup]="loginForm">

            <div class="mb-3">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" formControlName="lastName" class="form-control">

                @if (loginForm.controls['lastName'].errors) {
                @if(loginForm.controls['lastName'].errors['required']) {
                <p class="text-danger"> required</p>
                }
                }
            </div>
            <div class="mb-3">
                <label for="identity">identity</label>
                <input type="text" id="identity" formControlName="identity" class="form-control">

                @if (loginForm.controls['identity'].errors) {
                @if(loginForm.controls['identity'].errors['required']) {
                <p class="text-danger"> required</p>
                }
                }
            </div>
            <button type="submit" (click)="onSubmit()" [disabled]="loginForm.invalid"
                class="btn btn-primary">Login</button>

        </form>
    </div>
</div>