.background {
    background-image: url('../assets/images/AdobeStock_605385956_Preview.jpeg');
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    min-height: 100vh;
}